:root {
    --color-count: #88c0d0;
    --color-particle: #8fbcbb;
    --color-particle-link: rgba(143, 188, 187, 0.15);
    --color-pulse: #eceff4;
    --color-theme-toggle: #88c0d0;
    --color-theme-toggle-hover: #eceff4;
    --color-bg-main: #2e3440;
    --color-bg-overlay: rgba(46, 52, 64, 0.8);

    --color-text-default: #eee;
    --color-text-main-label: #5e81ac; 
    --color-text-footer: #81a1c1;
    --color-text-footer-hover: #5e81ac;
    --color-text-debug: #81a1c1;
    --color-text-debug-link: #81a1c1;
    --color-text-debug-link-hover: #5e81ac;
    --color-text-anchor-link: #81a1c1;

    --color-modal-bg: #2e3440;
    --color-modal-border: #434c5e;
    --color-modal-title: #88c0d0;
    --color-modal-close-btn: #434c5e;
    --color-modal-close-btn-hover: #5e81ac;
    --color-modal-stat-div: #434c5e;
    --color-modal-stat-label: #8fbcbb;
    --color-modal-stat-value: #5e81ac;
    --color-modal-footer: #434c5e;

    --color-terminal-bg: rgba(46, 52, 64, 0.9);
    --color-terminal-border: #434c5e;
    --color-terminal-shadow: rgba(0, 0, 0, 0.3);
    --color-terminal-input-text: #88c0d0;
    --color-terminal-input-divider: #434c5e;
    --color-terminal-output-message: #88c0d0;
    --color-terminal-tab-arrow: #88c0d0;
    --color-terminal-tab-arrow-hover: #eceff4;
    --color-terminal-tab-bg-hover: #434c5e;
    --color-terminal-status-message: #4c566a;
    --color-terminal-scrollbar: #434c5e;
    --color-terminal-scrollbar-hover: #4c566a;
    --color-terminal-text-default: #88c0d0;
}