:root {
    --color-count: #073642;
    --color-particle: #268bd2;
    --color-particle-link: rgba(38, 138, 210, 0.15);
    --color-pulse: #93a1a1;
    --color-theme-toggle: #073642;
    --color-theme-toggle-hover: #93a1a1;
    --color-bg-main: #eee8d5;
    --color-bg-overlay: rgba(238, 232, 213, 0.8);

    --color-text-default: #eee;
    --color-text-main-label: #b58900; 
    --color-text-footer: #657b83;
    --color-text-footer-hover: #b58900;
    --color-text-debug: #657b83;
    --color-text-debug-link: #657b83;
    --color-text-debug-link-hover: #b58900;
    --color-text-anchor-link: #657b83;

    --color-modal-bg: #eee8d5;
    --color-modal-border: #073642;
    --color-modal-title: #073642;
    --color-modal-close-btn: #073642;
    --color-modal-close-btn-hover: #b58900;
    --color-modal-stat-div: #073642;
    --color-modal-stat-label: #b58900;
    --color-modal-stat-value: #268bd2;
    --color-modal-footer: #073642;

    --color-terminal-bg: rgba(238, 232, 213, 0.8);
    --color-terminal-border: #93a1a1;
    --color-terminal-shadow: rgba(0, 0, 0, 0.3);
    --color-terminal-input-text: #073642;
    --color-terminal-input-divider: #93a1a1;
    --color-terminal-output-message: #073642;
    --color-terminal-tab-arrow: #268bd2;
    --color-terminal-tab-arrow-hover: #fdf6e3;
    --color-terminal-tab-bg-hover: #93a1a1;
    --color-terminal-status-message: #586e75;
    --color-terminal-scrollbar: #93a1a1;
    --color-terminal-scrollbar-hover: #586e75;
    --color-terminal-text-default: #268bd2;
}