:root {
    --color-count: #f7768e;
    --color-particle: #ff9e64;
    --color-particle-link: rgba(255, 157, 100, 0.15);
    --color-pulse: #b4f9f8;
    --color-theme-toggle: #f7768e;
    --color-theme-toggle-hover: #b4f9f8;
    --color-bg-main: #1a1b26;
    --color-bg-overlay: rgba(26, 27, 38, 0.8);

    --color-text-default: #eee;
    --color-text-main-label: #bb9af7; 
    --color-text-footer: #9aa5ce;
    --color-text-footer-hover: #bb9af7;
    --color-text-debug: #9aa5ce;
    --color-text-debug-link: #9aa5ce;
    --color-text-debug-link-hover: #bb9af7;
    --color-text-anchor-link: #9aa5ce;

    --color-modal-bg: #1a1b26;
    --color-modal-border: #414868;
    --color-modal-title: #f7768e;
    --color-modal-close-btn: #414868;
    --color-modal-close-btn-hover: #bb9af7;
    --color-modal-stat-div: #414868;
    --color-modal-stat-label: #bb9af7;
    --color-modal-stat-value: #ff9e64;
    --color-modal-footer: #414868;

    --color-terminal-bg: rgba(26, 27, 38, 0.9);
    --color-terminal-border: #414868;
    --color-terminal-shadow: rgba(0, 0, 0, 0.3);
    --color-terminal-input-text: #b4f9f8;
    --color-terminal-input-divider: #414868;
    --color-terminal-output-message: #b4f9f8;
    --color-terminal-tab-arrow: #ff9e64;
    --color-terminal-tab-arrow-hover: #b4f9f8;
    --color-terminal-tab-bg-hover: #414868;
    --color-terminal-status-message: #565f89;
    --color-terminal-scrollbar: #414868;
    --color-terminal-scrollbar-hover: #565f89;
    --color-terminal-text-default: #ff9e64;
}